.weathercard-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap : 5%;
    margin-top:5%
}

.card-img{
    display: inline-block;
    margin: 0 auto;
}

.text-flex{
    display: flex;
    justify-content: center;
    gap: 3%;
}

.weathercard-width{
    flex : 0 0 10%;
    color: white;
}

