.sidebar-background{
    background-image: url(./Cloud-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #1E213A;
    height: 100vh;
    background-position: center;
}

.paragraph-flex{
    display: flex;
    justify-content : center;
    align-items: center;
    height: 100%;
    
}
.paragraph-props{
    color: white;
    font-weight: 700;
}